* {
    font-family: 'Montserrat', sans-serif;
}

.topBar {
    display: flex;
    height: 80px;
    background-color: #3468fa;
    width: 100%;
}
.leftSide {
    align-items: center;
    display: flex;
    width: 50%;
    justify-content: flex-start;
} 
.logo {
    height: 80px;
    margin-right: 7px;
}
.rightSide {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.left-arrow{
    margin-left: 2px;
    height: 70px;
    cursor: pointer;
}
button {
    cursor: pointer;
}

