body{
    font-family:'Montserrat', sans-serif;
    margin: 0;
}
.header {
    background-color: #3468FC;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.flecha{
   align-items: left;
   height: 60px;
   margin-right: 50px;
   align-items: flex-start;
   margin-left: -100000000px;
   margin-top: 15px;
}
.hurb_logo {
    width: 160px;
    height: 95px;
    align-items: right;
    align-self: right;
    margin-left: 85%;
}
#Tudo{
    text-align: center;
    align-items: center;
    display:flex;
    margin: auto;
    justify-content: center;
}
.layout{
    flex-direction: row;
    display:flex;
    justify-content:space-between
}
.historico_saques{
    background-color: #8CAAFD;
    height: 100px;;
    width:500px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: whitesmoke;
    font-size: 40px;
    align-items: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pesquisar-left {
    background: color #C4C4C4;;
    height:30px;
    width:100px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#0000;
    color: black;
    text-align: center;
    border: 2px solid black;
}
.pesquisar{
    background: color #C4C4C4;;
    height:30px;
    width:200px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#0000;
    color: black;
    text-align: left;
    border: 2px solid black;
}
.pesquisar-end {
    margin-top:20px;
    margin-bottom:20px;
    background-color: #E2E2E2;
    border-radius:50px;
    text-align: end;
    align-items: flex-end;
    align-content: flex-end;
}
.Coluna1{
    display: flex;
}
.Data{
    background-color:whitesmoke;
    height:40px;
    width:180px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: black;
    align-items: center;
}
.Coluna2{
    display: flex;
}
.solicitado{
    background-color:#8CAAFD;
    height:40px;
    width:180px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: black;
    align-items: center;
}
.solicitadoCor{
    background-color:#FFF4DB;
    height:40px;
    width:180px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: black;
    align-items: center;
}
.Coluna3{
    display: flex;
}
.aprovado{
    background-color:#8CAAFD;
    height:40px;
    width:180px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: black;
    align-items: center;
}
.aprovadoCor{
    background-color:#CFFCE2;
    height:40px;
    width:180px;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    border-radius:50px;
    border-color:#3468FC;
    color: black;
    align-items: center;
}
.fundo{
    background-color: #E2EAFF;
}
.container{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin {
    background-color: purple;
    width: 10%;
}