.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
  table-layout: fixed;
}
.fixed_headers {
  width: 750px;
  table-layout: fixed;
  border-collapse: collapse;
}
    th {
     text-decoration: underline; 
    }
  th, td {
    padding: 5px;
    text-align: left;
  }
  
  td:nth-child(1), th:nth-child(1) { min-width: 200px; }
  td:nth-child(2), th:nth-child(2) { min-width: 200px; }
  td:nth-child(3), th:nth-child(3) { width: 350px; }

  thead {
    background-color: #333;
    color:  #FDFDFD;
  }
    tr {
      display: block;
      position: relative;
    }

    tr:nth-child(even) {
      background-color: #DDD;
    }



.old_ie_wrapper {
  height: 300px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}
  tbody { height: auto;     display: block;
    overflow-y: scroll;
    width: 100%;
    height: 360px;}
  .button-div {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
  .button:hover {background-color: black; color:white}
  
  .button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#tdtotal {
  background-color: #8CAAFD;
}
