.container {
    width: 100%;
    display: flex;
    justify-content : center;
}
.mob {
    width: 648px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blue-logo {
    margin-top: 10px;
}
.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.labels {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
}
.inputs {
    width: 648px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-style {
    border-radius: 7px;
    align-content: center;
    color: black;
    margin-bottom: 15px;
    width: 40%;
    max-width: 300px;
    font-size: medium;
    text-align: center;
    height: 30px;
}
input:placeholder-shown {
    text-align: center;
}
.confirm-button {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 55%;
}
.button {
    border: 1;
    margin-top: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 80%;
  }
  #back {
    margin-left: 8px;
  }

  .button:hover {background-color: black; color:white}
  
  .button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
