* {
margin: 0;
padding: 0;
}

body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}



.demonstrativo{
width: 80%;
text-align: center;
font-weight: bold;
margin-top: 3%;
margin-bottom: 2%;
font-size: 50px;
}

.hr{
background-color: #3468fc;
margin-bottom: 3%;
width: 70%;
color: #3468fc;
}

.retangle{
display:flex;
width: 50%;
flex-direction: column;
border-radius: 20px;
margin-top: 40px;
text-align: center;
background-color: #eaeaea;
}

.col {
display: flex;
flex-direction: row;
text-align: center;    
font-size: 30px;
margin-top: 10px;
}

.data_de_faturamento{
font-size: 30px;
width: 50%;
text-align: start;
margin-left: 20px;
}

.calendar_de_faturamento{
color: black;
font-size: 25px;
width: 50%;
text-align: start;
}

.Sistema_escolhido{
font-size: 30px;
width: 50%;
text-align: start;
margin-left: 20px;
}

.Ds{
color: black;
font-size: 30px;
width: 50%;
text-align: start;
}

.data_da_hospedagem{
font-size: 30px;
width: 50%;
text-align: start;
margin-left: 20px;
}

.calendar_de_hospedagem{
color: black;
font-size: 30px;
width: 50%;
text-align: start;
}

.valor_requerido{
font-size: 30px;
text-align: start;
margin-left: 20px;
width: 50%;
}

.valor_em_reais_requerido_{
width: 50%;
color: black;
font-size: 30px;
text-align: start;
}

.valor_a_receber{
font-size: 30px;
width: 50%;
text-align: start;
margin-left: 20px;
}

.valor_em_reais_descontado_{
color: black;
width: 50%;
font-size: 30px;
text-align: start;
}

.importante-seguranca{
margin-top: 40px;
font-size: 40px;
color:red;
}

.mensagem{
margin-top: 40px;
background-color: #eaeaea;
text-align: center;
border: 4px solid black;
border-style:dashed;
font-size: 40px;
}

.confirmar {
border: 1px solid #8CAAFD;
background-color: #8CAAFD;
border-radius: 100px;
font-size: 40px;
color: white;
width: 250px;
height: 80px;
margin-top: 40px;
}
@media only screen and (max-width: 375px) {
/* For mobile phones: */
.demonstrativo{
text-align: center;
font-weight: bold;
margin-top: 6%;
margin-bottom: 6%;
font-size: 48px;
font-family: Monstserrat;
}

.row{
display:flex;
flex-direction: column;
border-radius: 20px;
background-color: #eaeaea;
margin-left: 2%;
margin-right: 2%;
}

.data_de_faturamento{
font-size: 18px;
font-weight: bold;
justify-content: flex-start;
}

.calendar_de_faturamento{
color: #8CAAFD;
font-weight: bold;
font-size: 20px;
}

.Sistema_escolhido{
margin-bottom: 5%;
font-size: 18px;
font-weight: bold;
}

.Ds{
color: #8CAAFD;
font-weight: bold;
margin:auto;
font-size: 20px;
margin-bottom: 5%;
margin-left: 15%;
}

.data_da_hospedagem{
margin-bottom: 5%;
font-size: 18px;
font-weight: bold;
}

.calendar_de_hospedagem{
color: #8CAAFD;
font-weight: bold;
margin:auto;
font-size: 20px;
margin-bottom: 5%;
margin-left: 12%;
}

.valor_requerido{
margin-bottom: 5%;
font-size: 18px;
font-weight: bold;
}

.valor_em_reais_requerido_{
color: #8CAAFD;
font-weight: bold;
margin:auto;
font-size: 20px;
margin-bottom: 5%;
margin-left: 8%;
}

.valor_a_receber{
margin-bottom: 5%;
font-size: 18px;
font-weight: bold;
}

.valor_em_reais_descontado_{
color: #8CAAFD;
font-weight: bold;
margin:auto;
font-size: 20px;
margin-bottom: 5%;
margin-left: 17%;
}

.importante-segurança{
text-align: center;
font-weight: bold;
font-size: 40px;
color:red;
margin-top: 10%;
}

.mensagem{
background-color: #eaeaea;
text-align: center;
border: 2px solid black;
border-style:dashed;
font-size: 20px;
margin-left: 8%;
margin-right: 8%;
margin-top: 2%;
}

.confirmar{
border: 1px solid #8CAAFD;
background-color: #8CAAFD;
border-radius: 100px;
font-size: 20px;
color: white;
width: 150px;
height: 50px;
margin-left: 53%;
margin-top: 2%;
margin-bottom: 3%;
}
}
